mixin svg-image(name, className, width, height)
  svg(class= className, width= width, height= height)
    use(xlink:href=`images/sprites.svg#${name}`)

mixin image(name, ext, pictureClass)
  picture(class= pictureClass)
    source(srcset= `${name}.avif` type='image/avif')
    source(srcset=`${name}.webp` type='image/webp')
    img(src=`images/${name}.${ext}` class=`${pictureClass}__image`)&attributes(attributes)
